/* Generic */

body {
    font-family: 'Montserrat';
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.feature-title,
.feature-title-long,
.cta-text {
    font-family: "Montserrat";
}

p {
    margin-top: 20px;
}

/* Title */

#Main-Title {
    font-size: 40px;
    font-family: 'Ubuntu';
}

.nav-link {
    font-size: 20px;
    margin-left: 30px;
    font-family: 'Montserrat-light';
}

.container-fluid {
    padding: 3% 15%;
}

.row {
    margin-top: 50px;
}

.coloured-section {
    background-color: #FFD854;
}

.noncoloured-section {
    background-color: white;
}

#title {
    height: 600px;
}

.big-heading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    margin-bottom: 40px;
    text-align: left;
    width: 120%;
}

@media (min-width: 1028px) {


    .title-apple-button {
        margin-left: -120px;
    }

    .title-android-button {
        margin-left: 10px;
    }

}

.logo-image {
    width: 30%;
    transform: rotate(25deg);
    margin-left: -140px;
    padding-top: 22px;
    padding-right: 50px;
    padding-left: 50px;
    position: absolute;
}

/* Features */

.icon-logo {
    color: #FFD854;
}

.icon-logo:hover {
    color: #ff4c68;
}

.feature-title,
.feature-title-long {
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    width: 100%;
}

/* Testimonials */

#testimonials {
    margin-top: 90px;
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-text {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/* Press */

#press {
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Pricing */

.section-heading {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

.card {
    margin: 20px;
}

.pricing-title {
    padding-top: 25px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

.price-text {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/* Call to action */

#cta {
    height: 500px;
}

.cta-text {
    width: 80%;
    font-size: 60px;
    padding-top: 6%;
    padding-left: 20%;
    color: white;
    font-weight: 600;
}

#iphone-button,
#android-button {
    margin-top: 60px;
}

#android-button {
    margin-left: 10px;
}

/* Footer */

#footer {
    height: 300px;
}

.footer-logos {
    align-items: center;
    padding-top: 120px;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #8a3ab9;
}

.fa-envelope:hover {
    color: #BB001B;
}

.logo {
    padding-left: 15px;
    text-decoration: none;
    color: black;
}